@charset "utf-8";
/* CSS Document */

#classics {

	margin: 0 40px 0 40px;
	_margin: 0 20px 0 30px;
}


	#classics .produto {
		width:138px;
		height:auto;
		float:left;
		background:#FFFFFF;
		border: solid 1px #6b4922;
		margin:0 0 20px 10px;
		padding:0;
	}
	
		#classics .produto img {
			float:left;
			padding:4px;
			width: 129px;
			height: 150px;
			margin:0;
		}
	
	#classics .descricao {
		width:130px;
		_width:110px;
		float:left;
		margin: 5px;
		padding:0 0 5px 0;
	}
	
		#classics	 .descricao p {
			margin: 0;
			padding:0;
		}