.status-post
{
    font-size: 10px;
    text-align: right;
}
.status-item
{
    border-left: 1px solid #949493;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;

    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #c6ccd2;
}
.status-item:first-child
{
    border: none;
}
.status-item .answers,.status-item .likes
{
    display: block;
    line-height: 17px;
}
.status-item .timestamp
{
    color: #c6ccd2;
}

.status-item .timestamp
{
    background: url(../images/icon/ico-clock.png) left center no-repeat;
    padding-left: 20px;
}


.status-item .reply
{
    color: #c6ccd2;
    background: url(../images/icon/ico-respostas.png) left center no-repeat;
    padding-left: 20px;
}

.status-item .likes
{
    background: url(../images/icon/sound.png) left center no-repeat;
    padding-left: 20px;
}
.status-item .notlikes
{
    background: url(../images/icon/notsound.png) left center no-repeat;
    color: #5fc19a;
    padding-left: 20px;
}
.status-item .answers
{
    background: none;
    padding: 0 7px;
    float: left;
}
.rvb-comment
{
    background: #f2f2f2;
    box-sizing: border-box;
    float: left;
    margin: 30px 0 15px;
    padding: 25px 18px;
    width: 100%;
}
.rvb-comment .rvb-header-item
{
    background-color: transparent;
    color: #5fc199;
    font-family: Verdana,sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}
.rvb-comment .send-button
{
    margin-right: 0;
}
.not-logado
{
    color: #5fc19a;
    font-style: 11px;
    font-weight: 700;
    text-indent: 20px;
    width: 100%;
}
.not-logado a
{
    text-decoration: underline;
}
.comments-item
{
    padding: 3px 0;
}
.list-of-comments .comment-item
{
    border-bottom: 2px solid #f2f2f2;
    float: left;
    font-size: 12px;
    padding: 20px;
    width: 100%;
}
.comment-person
{
    color: #5fc19a;
    float: left;
    font-size: 10px;
    font-weight: 700;
    width: 80px;
}
.comment-person img
{
    display: block;
    margin: 0 auto 4px;
    max-width: 50px;
}
.comment-name
{
    height: 15px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.comment-detail {
    color: #414042;
    float: left;
    padding: 15px 10px 0 0;
    width: 770px;
    font-size: 15px;
}
.with-aside .comment-detail
{
    max-width: 530px;
    width: 100%;
}
.comment-detail iframe,.comment-detail img,.comment-detail p
{
    max-width: 100%;
}
.reply-comment-btn
{
    cursor: pointer;
}
.reply-comment-btn:hover
{
    color: #318B67;
}
.comment-detail iframe
{
    margin-top: 10px;
}
.replied-item:before
{
    border-bottom: 5px solid #f2f2f2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: " ";
    height: 0;
    left: 15px;
    position: absolute;
    top: -5px;
    width: 0;
}
.replied-item .person-answer
{
    color: #a7a7a7;
    display: block;
    float: left;
    font-size: 11px;
    margin: 10px 0 0 30px;
    width: 95%;
}
.user-reply-comment.disabled
{
    max-height: 0;
    moz-transition: all .6s;
    ms-transition: all .6s;
    o-transition: all .6s;
    overflow: hidden;
    padding: 0;
    transition: all .6s;
    webkit-transition: all .6s;
}
.replied-item,.user-reply-comment
{
    background-color: #f2f2f2;
    box-sizing: border-box;
    clear: both;
    float: left;
    margin: 10px 0 0 5%;
    max-height: 800px;
    moz-box-sizing: border-box;
    moz-transition: all .6s;
    ms-transition: all .6s;
    o-transition: all .6s;
    padding: 10px;
    position: relative;
    transition: all .6s;
    webkit-box-sizing: border-box;
    webkit-transition: all .6s;
    width: 95%;
}
.replied-item .person-name
{
    background: url(../images/icon/talk-icon.png) left center no-repeat;
    color: #5fc19a;
    display: block;
    float: left;
    font-size: 10px;
    font-weight: 700;
    min-height: 15px;
    min-width: 60px;
    padding-left: 25px;
    text-transform: uppercase;
}
.replied-item .status-comment
{
    display: block;
    float: right;
    font-size: 10px;
    text-align: right;
}
.user-reply-comment .person-name
{
    color: #5fc19a;
    float: left;
    font-size: 10px;
    font-weight: 700;
    height: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.user-reply-comment .reply-txt
{
    background-color: #fff;
    border: none;
    color: #666;
    float: left;
    font-size: 11px;
    height: 60px;
    margin: 10px 0;
    padding: 5px;
    resize: none;
    width: 100%;
}
.user-reply-comment .send-button
{
    margin-right: 0;
}

.comment-user {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 700;
}
.comment-user a {
    color: #5fbf98;

    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.comment-user a:hover {
    color: #e85238;
}

.md-close {
    text-indent: -9999px;
}