.DS_Store
arquivos/uploads/banners/*
arquivos/uploads/blog/*
arquivos/uploads/blog_me/*
arquivos/uploads/cadastros/*
arquivos/uploads/captcha/*
arquivos/uploads/enquete/*
arquivos/uploads/fotosprodutos/*
arquivos/uploads/imprensa/*
arquivos/uploads/medidas/*
arquivos/uploads/modelos/*
arquivos/uploads/people/*
arquivos/uploads/produtos/*
arquivos/uploads/reverbcycle/*
arquivos/uploads/reverbme/*
.idea
Readm_911s/nfe/geradas/*
temporarios/*
livezilla/*
nfe
application/tmp/cache/*
application/tmp/templates_c/*

