*.DS_Store
.DS_Store
.idea
application/configs/application.ini
application/Bootstrap.php
arquivos/uploads/banners/*
arquivos/emails/*
arquivos/uploads/blog/*
arquivos/uploads/blog_me/*
arquivos/uploads/cadastros/*
arquivos/uploads/captcha/*
arquivos/uploads/enquete/*
arquivos/uploads/fotosprodutos/*
arquivos/uploads/imprensa/*
arquivos/uploads/medidas/*
arquivos/uploads/modelos/*
arquivos/uploads/people/*
arquivos/uploads/produtos/*
arquivos/uploads/reverbcycle/*
arquivos/uploads/reverbme/*
application/tmp/templates_c/*
application/tmp/
Readm_911s/nfe/geradas/*
Readm_911s/lib.php
Readm_911s/temp/
nfe
index.php