#conteudo-blog
{
    font-size: 12px;
}
.posreflole
{
    float: left;
    position: relative;
}
.product-details {
    padding: 3px 10px 10px;
    position: relative;
}
.product-details .product-name a {
    padding-left: 7px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0;
    font-family: 'Droid Sans', sans-serif;
    text-transform: uppercase;
}
.product-details p.price
{
    margin-top: 10px;
    padding-left: 7px;
    color: #000;
    font-weight: bold;
}
.product-details p.price a
{
    padding-left: 7px;
}
#conteudo-blog h2
{
    height: 43px;
    line-height: 43px;
    color: #e85238;
    display: block;
    font-size: 18px;
    /*margin-bottom: 15px;*/
    /*margin-top: 5px;*/
    text-transform: uppercase;
    width: 100%;
}
#conteudo-esquerda h2 {
    height: 18px;
}
.negrito
{
    font-weight: 700;
}
#conteudo-esquerda
{
    float: left;
    width: 700px;
    margin: 0 10px 0 10px;
}
#conteudo-direita
{
    margin-left: 10px;
    width: 220px;
}
/*.socials-network-dark:before*/
/*{*/
    /*border-bottom: 8px solid transparent;*/
    /*border-left: 8px solid #fff;*/
    /*border-right: 0;*/
    /*border-top: 8px solid transparent;*/
    /*content: " ";*/
    /*height: 0;*/
    /*left: 0;*/
    /*margin-top: -8px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*width: 0;*/
/*}*/
.imagem-lista-novidades
{
    display: inline;
    height: 150px;
    width: 150px;
}
#lista-novidades li
{
    background: #f1f1f1;
    float: left;
    height: 150px;
    list-style: none;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
}
.conteudo-postagem
{
    margin-left: 20px;
    width: 530px;
}
.titulo-post
{
    color: #5fc19a;
    font-size: 12px;
    font-weight: 700;
    height: 20px;
    margin-top: 10px;
    overflow: hidden;
    text-transform: uppercase;
}
.posreflori
{
    float: right;
    position: relative;
}
.comentarios
{
    color: #5fc19a;
    font-size: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.datahora
{
    color: #959595;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 4px;
    width: 100%;
}
.quempostou
{
    color: #5fc19a;
}
.texto-postagem
{
    color: #959595;
    font-size: 12px;
    height: 50px;
    line-height: 14px;
    min-width: 1px;
    overflow: hidden;
}
.leiacompleto
{
    color: #5fc19a;
    font-size: 10px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: lowercase;
    width: 100%;
}
#icones-sociais
{
    background: url(../../../../default/images/bg-social.png) no-repeat;
    height: 70px;
    width: 220px;
}
#paginacao
{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
}
.linkpagination
{
    background-color: #e7e7e7;
    border-radius: 50%;
    color: #959595;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 30px;
}
.linkpagination.selected,.linkpagination:hover
{
    background-color: #5fbf98;
    color: #fff;
}
#icones-sociais a
{
    height: 26px;
    margin: 22px 3px;
    width: 26px;
}
#icones-sociais a:first-child
{
    margin-left: 19px;
}
#facebook-blog
{
    background: url(../../../../default/images/sprite-sociais-menor.png) no-repeat;
}
#twitter-blog
{
    background: url(../../../../default/images/sprite-sociais-menor.png) no-repeat -31px 0;
}
#tumblr-blog
{
    background: url(../../../../default/images/sprite-sociais-menor.png) no-repeat -62px 0;
}
#instagram-blog
{
    background: url(../../../../default/images/sprite-sociais-menor.png) no-repeat -93px 0;
}
#picasa-blog
{
    background: url(../../../../default/images/sprite-sociais-menor.png) no-repeat -123px 0;
}
#feed-blog
{
    background: url(../../../../default/images/sprite-sociais-menor.png) no-repeat -153px 0;
}
#categorias
{
    background-color: #f0f0f0;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 220px;
}
#categorias h3,#forum h3
{
    background-color: #5fbf98;
    color: #fff;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 220px;
}
#categorias ul,#forum ul
{
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
    max-height: 378px;
    overflow: hidden;
    transition: all .45s ease-in-out;
}
#categorias ul.opened,#forum ul.opened
{
    max-height: 1200px;
}
#categorias ul li,#forum ul li
{
    color: #5fbf98;
    font-size: 12px;
    line-height: 27px;
}
#categorias ul li a:focus,#categorias ul li a:hover
{
    color: #e95238;
}
#forum ul li a:hover
{
    color: #939598;
}
.vejamais
{
    color: #5fbf98;
    font-size: 9px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-top: 10px;
}
#search-blog-form
{
    line-height: 43px;
    float: right;
    margin-bottom: 10px;
    margin-top: -40px;
    position: relative;
    width: 286px;
}
#search-blog-form .input-box
{
    background-color: #f0f0f0;
    height: 21px;
    line-height: 21px;
}
#search-blog-form .input-text input
{
    background-color: #f0f0f0;
    border: 0;
    padding: 5px 9px;
    width: 131px;
}
#search-blog-form .search-icon
{
    height: 21px;
    margin: 0;
    /*position: relative;*/
    position: absolute;
    right: 0;
    /*line-height: 43px;*/
    top: 5.5px;
    width: 21px;
}
.promocao_dia
{
    background-color: #e95238;
    bottom: 0;
    color: #FFF;
    height: 25px;
    padding: 3px;
    position: absolute;
    text-align: center;
    width: 220px;
    z-index: 10;
}
.promocao_dia:hover
{
    background-color: #e95238;
}
.socials-network-dark li
{
    display: inline-block;
    margin-left: 10px;
}
.socials-network-dark .icon
{
    /*background: url(../images/icon/facebook.png) no-repeat;*/
    height: 28px;
    width: 28px;
}
.socials-network-dark .icon.facebook
{
    background: url(../../../../default/images/icon/facebook_new.png) no-repeat;
    /*background-position: 0 0;*/
}
.socials-network-dark .icon.twitter
{
    background: url(../../../../default/images/icon/twitter_new.png) no-repeat;
    /*background-position: -33px 0;*/
}
.socials-network-dark .icon.tumblr
{
    background: url(../../../../default/images/icon/tumblr_new.png) no-repeat;
    /*background-position: -66px 0;*/
}
.socials-network-dark .icon.instagram
{
    background: url(../../../../default/images/icon/instagram_new.png) no-repeat;
    /*background-position: -98px 0;*/
}
.socials-network-dark .icon.pinterest
{
    background: url(../../../../default/images/icon/pinterest_new.png) no-repeat;
    /*background-position: -130px 0;*/
}
@media screen and (max-width:979px)
{
    #conteudo-direita
    {
        display: none!important;
    }
    #conteudo-esquerda
    {
        width: 100%;
    }
    .conteudo-postagem
    {
        margin-left: 20px;
        width: 548px;
    }
}
@media screen and (max-width:767px)
{
    .conteudo-postagem
    {
        margin-left: 20px;
        width: 306px;
    }
    .texto-postagem
    {
        height: 58px;
    }
    .datahora
    {
        margin: 0 0 5px;
    }
}
@media screen and (max-width:479px)
{
    #search-blog-form,.imagem-lista-novidades
    {
        display: none!important;
    }
    .titulo-post
    {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 205px;
    }
}