.rvb-forum-latest-posts,
.rvb-poll-latest-polls {
    padding: 10px 15px;
    background-color: #f0f0f0;
    width: 100%
}
.rvb-forum-latest-posts:nth-child(even),
.rvb-poll-latest-polls:nth-child(even) {
    background-color: #e9e9e9
}
#email-pp {
    z-index: 100;
    float: left;
    margin-top: -1px;
    width: 64px;
    height: 22px;
    background: url(../../../../default/images/email-ppl.png) no-repeat center center;
    background-size: 100%!important
}
.rvb-forum-latest-item,
.rvb-poll-latest-item {
    display: inline-block;
    padding: 12px 19px 13px 20px;
    color: #5fc099;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px
}
.rvb-forum-latest-posts .author,
.rvb-forum-latest-posts .title,
.rvb-poll-latest-polls .author,
.rvb-poll-latest-polls .title {
    border-right: 1px solid #e9e9e9
}
.rvb-forum-latest-posts:nth-child(even) .author,
.rvb-forum-latest-posts:nth-child(even) .title,
.rvb-poll-latest-polls:nth-child(even) .author,
.rvb-poll-latest-polls:nth-child(even) .title {
    border-right: 1px solid #f0f0f0
}
.rvb-forum-latest-posts .title,
.rvb-poll-latest-polls .title {
    width: 174px
}
.rvb-forum-search-post,
.rvb-poll-search-poll {
    padding: 5px 0 5px 25px;
    width: 330px;
    background-color: #5fc19a
}
.rvb-forum-search-post.small {
    width: 200px
}

.rvb-forum-search-post.nav{
    float: left;
    background: none;
    width: inherit;
    padding: 0;
}

.rvb-forum-search-post.nav a{
    color: #c7c7c7;
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 12px;
    padding: 0 0 20px;
    margin-right: 27px;
}


.rvb-forum-search-post.nav a.active {
    color: #63c09a;
    border-bottom: 3px solid #63c09a;
}
.rvb-forum-search-post.nav a:hover {
    color: #e85238;
    border-bottom: 3px solid #e85238;
}

.rvb-forum-search-post,
.rvb-new-item,
.rvb-poll-search-poll {
    float: left;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 10px
}
.rvb-new-item:focus,
.rvb-new-item:hover {
    background-color: #e85238;
    border: solid #e83324 2px;
}
.rvb-new-item {
    width: 170px;
    text-align: center;
    cursor: pointer;

    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    background: #44a980;
    padding: 10px 0;
    border: solid #44a980 2px;
    text-decoration: none;

}
.rvb-search-box input,
.rvb-search-box input:hover{

    border: none;
    color: #8b8b8b;
    float: left;
    font-family: Verdana;
    font-size: 12px;
    height: 15px;
    line-height: 10px;
    text-transform: uppercase;

    background: transparent;
    width: 197px;

    padding: 15px 15px 15px 12px;
}
.rvb-search-box .submit {
    background: url(../../../../default/images/icon/search-small-new.png) center no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 26px;
}
.rvb-search-box {
    margin-top: 6px;
    float: left;
}
.rvb-search-box .separador {
    border-top: 1px solid #000;
    margin-top: 25px;
    position: absolute;
    width: 217px;
}
.rvb-search-box h2 {
    border-top: 1px solid #000;
    margin-top: 25px;
    position: absolute;
    width: 200px;
}
.right {
    float: right;
}

.rvb-forum-form,
.rvb-poll-form {
    clear: both;
    padding: 0 10px;
    /* background-color: #f1f1f1; */
    margin: -24px 0 0 0;
}
.rvb-forum-form .input-box,
.rvb-poll-form .input-box {
    height: 30px;
    line-height: 30px
}
.search-icon .search-icon {
    background: url(../../../../default/images/icon/search-small-new.png) center no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 26px;

    position: relative;
    left: -20px;

}
.rvb-table-list-of-posts {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
.row-header {
    background-color: #959595
}


.row-content {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}

.row-content:hover{
    background-color: #fafafa;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}
/*.row-content:nth-child(even) {*/
    /*background-color: #e9e9e9*/
/*}*/
.rvb-table-lists-item {
    padding: 21px 23px;
    text-align: left;
    font-size: 11px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}
.rvb-table-lists-item.header {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700
}
.rvb-table-lists-item.content {
    color: #959595;
    vertical-align: middle
}
.rvb-table-lists-item a {
    color: #5fbf98
}
.rvb-table-lists-item a:focus,
.rvb-table-lists-item a:hover {
    color: #e85238
}
.rvb-table-list-of-posts .topic {
    width: 190px;
    font-weight: 700
}

.rvb-table-list-of-posts .posts {
    width: 170px;
    text-align: center;
}

.rvb-table-list-of-posts .topic-title {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700;
}

.rvb-table-list-of-posts a.topic-title {
    font-size: 19px;
    color: #414042;
}

.rvb-table-list-of-posts a.topic-title:hover {
    font-size: 19px;
    color: #5fbf98;
}

.rvb-table-list-of-posts .posts p {
    font-size: 23px;
    color: #414042;
}

.rvb-table-list-of-posts .posts span {
    font-size: 13px;
    color: #c9c9c9;
}

.rvb-table-list-of-posts .author {
    width: 141px
}
.rvb-table-list-of-posts .content .post {
    display: inline-block;
    padding-left: 20px;
    background: url(../../../../default/images/icon/bullet-post-normal.png) no-repeat left center
}
.rvb-table-list-of-posts .content .hot {
    background: url(../../../../default/images/icon/bullet-post-hot.png) no-repeat left center
}
.rvb-table-list-of-posts .content .new {
    background: url(../../../../default/images/icon/bullet-post-new.png) no-repeat left center
}
.show-more {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    border: solid #44a980 2px;
    border-radius: 5px;
    background-color: #44A98A;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer
}
.show-more:focus,
.show-more:hover {
    background-color: #e85238;
    border: solid #e83324 2px;
}
.forum-loder {
    display: none;
    width: 21px;
    height: 21px;
    overflow: hidden;
    text-indent: -123456px;
    background-image: url(../../../../default/images/forum-loader.gif);
    background-size: 21px 21px;
    margin: 0 auto
}
.rvb-social-infos {
    height: 35px;
    text-align: left;
    margin-bottom: 10px;
    text-transform: uppercase
}
.label-tips {
    color: #959595;
    font-family: Verdana;
    font-size: 10px;
    text-transform: uppercase;
    float: left
}
.label-tips-text {
    height: 17px;
    line-height: 17px;
    float: left;
    margin: 0 10px 0 5px
}
.label-tips-circle {
    float: left;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: #DBDBDB
}
.label-tips-circle.new {
    background-color: #5FC19A
}
.label-tips-circle.hot {
    background-color: #E85238
}
#texto-reverbme {
    margin-bottom: 20px;
    color: #414042;
    font-size: 11px
}
#new-poll-lightbox .md-content {
    float: left;
    width: auto
}
#form-cadastro-nova-enquete {
    float: left;
    width: 564px
}
#conteudo-novaenquete {
    position: relative;
    float: left;
    width: 590px;
    border: 5px solid #62c29c;
    border-radius: 10px;
    background: #fff;
    color: #646464;
    font-family: Verdana, sans-serif
}
.posreflole {
    position: relative;
    float: left
}
#conteudo-novaenquete h2 {
    margin: 6px auto;
    width: 100%;
    height: 25px;
    background-color: #62c29c;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 28px
}
#textos {
    margin: 6px auto;
    width: 100%;
    background-color: #f1f1f1;
    color: #fff;
    line-height: 28px;
    padding: 20px 10px
}
#textos label {
    margin-bottom: 17px;
    width: 80px;
    height: 26px;
    color: #62c29c;
    font-size: 10px
}
#assunto {
    margin-bottom: 18px;
    padding: 0 5px;
    width: 440px;
    height: 26px;
    border: 1px solid #c0bfbf
}
#descricao {
    margin-bottom: 9px;
    padding: 5px;
    width: 440px;
    height: 60px;
    border: 1px solid #c0bfbf;
    font-size: 11px;
    resize: none
}
input[type=radio].css-checkbox {
    display: none
}
input[type=checkbox].css-checkbox+label.css-label,
input[type=radio].css-checkbox+label.css-label {
    display: inline-block;
    padding-left: 23px;
    margin-right: 10px;
    height: 16px;
    line-height: 21px;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #646464;
    vertical-align: middle;
    font-size: 10px;
    cursor: pointer
}
input[type=radio].css-checkbox:checked+label.css-label {
    background-position: 0 -16px
}
label.css-label {
    background-image: url(../../../../default/images/icon/checkboxform.png);
    user-select: none
}
#selects {
    margin: 10px 0;
    padding: 20px 10px;
    width: 100%;
    background-color: #f1f1f1;
    color: #fff;
    line-height: 28px
}
#pme,
#qev {
    margin-left: 10px;
    width: 100%;
    color: #646464;
    text-transform: uppercase;
    font-size: 10px
}
#pme span,
#qev span {
    width: 230px
}
#qev {
    margin-top: 15px
}
#qev div {
    position: relative;
    float: left
}
input[type=checkbox].css-checkbox {
    display: none
}
input[type=checkbox].css-checkbox+label.css-label {
    display: inline-block;
    margin-left: 10px;
    padding-left: 23px;
    height: 16px;
    line-height: 21px;
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #646464;
    vertical-align: middle;
    font-size: 10px;
    cursor: pointer
}
input[type=checkbox].css-checkbox:checked+label.css-label {
    background-position: 0 -16px
}
#data-enquete input {
    position: absolute;
    width: 100%;
    height: 27px;
    opacity: 0
}
#ajeita-checks {
    margin-top: 15px;
    margin-left: 230px
}
.title-full {
    margin-bottom: 5px;
    padding: 5px 0;
    background-color: #646464;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px
}
#cad-novaopc {
    margin: 10px auto 0;
    width: 355px
}
#inputimagem {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 159px;
    height: 20px;
    border: 1px solid #646464;
    border-radius: 7px;
    background: #fff;
    color: #646464;
    opacity: 0
}
#cadastrarop {
    padding: 4px 9px;
    border: 1px solid #646464;
    border-radius: 5px;
    background-color: #fff;
    color: #646464;
    font-weight: 700;
    font-size: 8px;
    display: inline-block
}
#lop {
    margin: 0 10px 0 0;
    font-size: 10px;
    line-height: 20px
}
#opcao {
    margin: 0 15px 20px 0;
    padding: 3px 5px;
    width: 198px;
    border: 1px solid #c4c3c3;
    font-size: 10px
}
#listadeopcoes {
    overflow: auto;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all .25s ease-in-out
}
#listadeopcoes li {
    position: relative;
    margin-bottom: 5px;
    height: 88px;
    background-color: #f2f2f2
}
#listadeopcoes li:last-child {
    margin-bottom: 0
}
#texto-footer {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 100%;
    font-size: 10px;
    line-height: 16px
}
.logo-topo {
    font-size: 0
}
.imagem-op {
    position: relative;
    float: left;
    padding: 10px;
    width: 85px;
    height: 65px
}
.texto-desc-op {
    position: relative;
    float: left;
    margin: 17px 0;
    height: 53px;
    overflow: hidden;
    max-width: 400px;
    color: #929292;
    text-transform: uppercase;
    font-size: 10px
}
.excluir-op {
    position: absolute;
    top: 34px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: url(../../../../default/images/icon/remove-red.png) no-repeat
}
#data-enquete {
    cursor: pointer;
    width: 170px;
    height: 27px;
    background: url(../../../../default/images/icon/seta-select.png) no-repeat 95% center #d7d7d7
}
#data-enquete span {
    position: absolute;
    top: 0;
    left: 5px;
    width: 100%;
    height: 27px;
    line-height: 27px
}
#data-enquete input {
    cursor: pointer
}
.bg-image {
    position: relative;
    float: left;
    overflow: hidden;
    margin-right: 10px;
    width: 87px;
    height: 87px
}
.imagem-op .img,
.imagem-op .img-add,
.imagem-op .img-add p,
.imagem-op .img-input,
.imagem-op .img-preview,
.imagem-op .img-remove {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}
.imagem-op .img {
    z-index: 2;
    display: none
}
.imagem-op .img-add {
    background: #E6E6E6;
    z-index: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
.imagem-op .img-add:hover {
    background: #DDD
}
.imagem-op .img-add p {
    margin: 0;
    text-align: center;
    font-weight: 700;
    padding: 20px 3px;
    font-size: 1.2em
}
.imagem-op .img-input {
    opacity: 0;
    cursor: pointer
}
.imagem-op .img-remove {
    z-index: 3;
    height: 40%;
    padding: 10px 0;
    top: 60%;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background: rgba(230, 78, 75, .3);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: none
}
.imagem-op .img-remove:hover {
    background: rgba(230, 78, 75, 1)
}
#criar-topico-lightbox .md-content,
#enviar-todos-lightbox .md-content {
    float: left;
    width: 580px;
    text-align: center
}
#frm-create-topic {
    color: #6d6d6d
}
#frm-create-topic .frm-field {
    display: block;
    clear: both;
    margin-bottom: 10px
}
#frm-create-topic label,
#frm-enviar-todos label {
    float: left;
    width: 70px;
    color: #62c29c;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 25px;
    text-align: left
}
#frm-enviar-todos label {
    width: 100%
}
#frm-create-topic input,
#frm-create-topic textarea,
#frm-enviar-todos textarea {
    margin: 0;
    padding: 0;
    width: 458px;
    border: 1px solid #c0bfbf;
    background-color: #fff;
    color: #646464;
    font-size: 10px
}
#frm-create-topic input {
    padding: 0 5px;
    height: 25px;
    line-height: 25px
}
#frm-create-topic textarea {
    padding: 5px;
    height: 70px
}
#frm-create-topic p {
    color: #6d6d6d;
    text-align: left;
    font-size: 11px
}
@media screen and (max-width: 979px) {
    .rvb-forum-latest-posts,
    .rvb-poll-latest-polls,
    .rvb-social-infos {
        display: none!important
    }
    .rvb-forum-search-post,
    .rvb-poll-search-poll {
        width: 65%
    }
    .rvb-forum-search-post.small {
        width: 30%
    }
    .rvb-new-item {
        width: 35%
    }
    #search-poll,
    #search-post {
        float: right;
        width: 330px
    }
    #search-poll .input-box,
    #search-post .input-box {
        width: 300px
    }
    .rvb-new-item {
        background-color: #e85238
    }
}
@media screen and (max-width: 767px) {
    #search-poll,
    #search-post {
        width: 100%
    }
    #search-poll .input-box,
    #search-post .input-box {
        width: 64%
    }
    #criar-topico-lightbox .md-content,
    #enviar-todos-lightbox .md-content {
        width: 95%;
        max-width: 470px
    }
    #frm-create-topic input,
    #frm-create-topic textarea,
    #frm-enviar-todos textarea {
        max-width: 458px;
        width: 100%
    }
    #ajeita-checks,
    #assunto,
    #conteudo-novaenquete,
    #descricao,
    #pme span,
    #qev span,
    #textos label {
        width: 100%
    }
    #new-poll-lightbox .md-content {
        width: 95%;
        max-width: 450px
    }
    #form-cadastro-nova-enquete {
        float: left;
        width: 100%
    }
    #textos label {
        margin-bottom: 0
    }
    #qev {
        margin-top: 15px
    }
    #qev div {
        position: relative;
        float: left
    }
    #ajeita-checks {
        margin-top: 15px;
        margin-left: 0
    }
    #cad-novaopc {
        margin: 10px auto 0;
        width: 355px
    }
    #cadastrarop {
        padding: 4px 9px;
        border: 1px solid #646464;
        border-radius: 5px;
        background-color: #fff;
        color: #646464;
        font-weight: 700;
        font-size: 8px
    }
    #lop {
        margin: 0 10px 0 0;
        font-size: 10px;
        line-height: 20px
    }
    .texto-desc-op {
        max-width: 330px
    }
}
@media screen and (max-width: 479px) {
    #texto-reverbme,
    .rvb-title {
        display: none!important
    }
    .rvb-new-item.small {
        width: 50%;
        margin: 0
    }
    .rvb-forum-search-post.small {
        width: 100%
    }
    #criar-topico-lightbox .md-content,
    #enviar-todos-lightbox .md-content {
        width: 95%;
        max-width: 310px
    }
    #frm-create-topic input,
    #frm-create-topic textarea {
        max-width: 458px;
        width: 100%
    }
    #new-poll-lightbox .md-content {
        width: 95%;
        max-width: 310px
    }
    #form-cadastro-nova-enquete {
        float: left;
        width: 100%
    }
    #textos label {
        margin-bottom: 0
    }
    #qev {
        margin-top: 15px
    }
    #qev div {
        position: relative;
        float: left
    }
    #ajeita-checks {
        margin-top: 15px;
        margin-left: 0
    }
    #cad-novaopc {
        margin: 10px auto 0;
        width: 355px
    }
    #opcao {
        width: 118px
    }
    #cadastrarop {
        padding: 4px 9px;
        border: 1px solid #646464;
        border-radius: 5px;
        background-color: #fff;
        color: #646464;
        font-weight: 700;
        font-size: 8px
    }
    #lop {
        margin: 0 10px 0 0;
        font-size: 10px;
        line-height: 20px
    }
    .texto-desc-op {
        max-width: 330px
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    label.css-label {
        background-image: url(../../../../default/images/icon@2x/checkboxform.png);
        background-size: 18px 32px
    }
    #data-enquete {
        background: url(../../../../default/images/icon@2x/seta-select.png) no-repeat 95% center #d7d7d7;
        background-size: 19px 20px
    }
    .search-icon .search-icon {
        background: #959595 url(../../../../default/images/icon@2x/search-m.png) no-repeat 6px center;
        background-size: 17px 18px
    }
}
