.contato-thumb
{
    float: left;
}
#form-contato .input-text input ,#form-contato .select-item, .text-box textarea
{
    background-color: #000000;
}
.left-thumb
{
    margin-bottom: 16px;
    margin-right: 20px;
}
.left-thumb.nomargin-bottom
{
    margin-bottom: 0;
}
#form-contato,.bg-soft
{
    background-color: #f1f1f1;
}
.bg-soft
{
    clear: both;
    color: #939598;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 9px;
    line-height: 1.5;
    margin: 0 0 20px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
#form-contato
{
    clear: both;
    font-size: 10px;
    min-height: 330px;
    padding: 10px;
}
#form-contato .send-button .btn
{
    padding: 0 11px;
    background-color: #000;
    border: 0px solid #000;
    font-weight: bold;
    font-size: 12px;
}
#form-contato .insert-captcha
{
    margin: 16px 0 0;
}
#form-contato .send-button
{
    margin-right: 0;
    margin-top: 35px;
}
.legend
{
    color: #646464;
    margin: 0 0 15px;
    text-transform: none;
}
.select-item
{
    background: #d7d7d7 url(../../../../default/images/icon/select-arrow.gif) no-repeat center right;
    display: inline-block;
    height: 27px;
    position: relative;
}
.select-item.estado
{
    margin-right: 6px;
    margin-top: 10px;
    width: 224px;
}
.select-item.cidade
{
    margin-bottom: 10px;
    width: 326px;
}
.select-item span
{
    display: block;
    height: 27px;
    line-height: 27px;
    margin-left: 10px;
}
.select-item .select-field
{
    font-size: 10px;
    height: 27px;
    left: 0;
    position: absolute;
    top: 0;
}
#nome-contato
{
    margin-right: 6px;
    width: 300px;
}
#email-contato
{
    width: 250px;
}
#mensagem
{
    margin-bottom: 10px;
    width: 560px;
}
.current-photo
{
    background: url(../../../../default/images/watermark.png) no-repeat center center #f1f1f1;
    height: 370px;
    width: 580px;
}
#reverb-londrina
{
    clear: both;
    float: left;
}
.socials-network-dark li
{
    margin-right: 4px;
}
.socials-network-dark li.last
{
    margin-right: 0;
}
.socials-network-dark .icon
{
    /*background: url(../../../../default/images/icon/social-share-big.png) no-repeat;*/
    height: 40px;
    width: 40px;
}
.socials-network-dark .icon.facebook
{
    background: url(../../../../default/images/icon/faceboock-white.png) no-repeat;
    /*background-position: 0 0;*/
}
.socials-network-dark .icon.twitter
{
    background: url(../../../../default/images/icon/twitter-white.png) no-repeat;
    /*background-position: -47px 0;*/
}
.socials-network-dark .icon.tumblr
{
    background: url(../../../../default/images/icon/tumblr-white.png) no-repeat;
    /*background-position: -94px 0;*/
}
.socials-network-dark .icon.instagram
{
    background: url(../../../../default/images/icon/instagram-white.png) no-repeat;
    /*background-position: -141px 0;*/
}
.socials-network-dark .icon.pinterest
{
    background: url(../../../../default/images/icon/pinterest-white.png) no-repeat;
    /*background-position: -187px 0;*/
}
.socials-network-dark .icon.rss
{
    /*background: url(../../../../default/images/icon/faceboock-white.png) no-repeat;*/
    /*background-position: -232px 0;*/
}
@media screen and (max-width:979px)
{
    .left-col
    {
        width: 420px;
    }
    .right-col
    {
        width: 277px;
    }
    #form-contato .input-text,#form-contato .select-item
    {
        background-color: #000000;
        margin: 0 0 10px;
        width: 48%;
    }
    #form-contato .input-text.margin,#form-contato .select-item.margin
    {
        margin-right: 3%;
    }
    #form-contato .input-text input,#form-contato .text-box,#form-contato .text-box #mensagem
    {
        max-width: 100%;
        width: 100%;
    }
    .socials-network-dark li
    {
        margin-right: 1px;
    }
    .right-col .contato-thumb
    {
        height: 137px;
        overflow: hidden;
        width: 128px;
    }
    .right-col .contato-thumb img
    {
        height: 100%;
    }
    .current-photo
    {
        background: url(../../../../default/images/watermark.png) no-repeat center center #f1f1f1;
        height: 290px;
        overflow: hidden;
        width: 420px;
    }
    .current-photo img
    {
        height: 100%;
    }
}
@media screen and (max-width:767px)
{
    .left-col,.right-col
    {
        margin-bottom: 15px;
        width: 100%;
    }
    #form-contato .input-text,#form-contato .select-item
    {
        background-color: #000000;
        margin: 0 0 10px;
        width: 100%;
    }
    #form-contato .input-text.margin,#form-contato .select-item.margin
    {
        margin-right: 0;
    }
    #form-contato .input-text input,#form-contato .text-box,#form-contato .text-box #mensagem
    {
        max-width: 100%;
        width: 100%;
    }
    .socials-network-dark li
    {
        margin-right: 21px;
    }
    .right-col .contato-thumb
    {
        height: 120px;
        margin: 0 .5%;
        overflow: hidden;
        width: 24%;
    }
    .right-col .contato-thumb img
    {
        height: 100%;
    }
    .current-photo
    {
        background: url(../../../../default/images/watermark.png) no-repeat center center #f1f1f1;
        overflow: hidden;
        width: 100%;
    }
    .current-photo img
    {
        height: auto;
        width: 100%;
    }
}
@media screen and (max-width:479px)
{
    .contato-gallery
    {
        display: none!important;
    }
    .full-strip
    {
        margin: 5px 0;
    }
    .socials-network-dark li
    {
        margin-right: 6px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5)
{
    .socials-network-dark .icon
    {
        background: url(../../../../default/images/icon@2x/social-share-big.png) no-repeat;
        background-size: 271px 39px;
        height: 40px;
        width: 40px;
    }
}