section.products .rvb-column.left
{
    float: left;
}
.socials-network-dark:before
{
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    border-right: 0;
    border-top: 8px solid transparent;
    content: " ";
    height: 0;
    left: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 0;
}
