.rvb-fundoverde {
    padding: 25px 40px;
    min-height: 1110px;
    width: 100%;
    background-color: #5fbf98;
    background-image: url(../../../../default/images/quem-somos/fundo-ilustra.png);
    /*background-position: right top;*/
    background-repeat: no-repeat;
    float: left
}
.rvb-fundoverde p {
    color: #fff;
    font-size: 14px;
    font-family: Andes-Regular, Verdana, sans-serif
}
.rvb-fundoverde p strong {
    font-weight: 400;
    font-family: Andes-Bold, Verdana, sans-serif;
    font-size: 18px
}
#quemsomos-frase-bonitinha {
    width: 720px;
    margin-bottom: 33px
}
#quemsomos-enderecos {
    margin-left: 280px
}
#rvb-staff {
    float: left;
    position: relative;
    margin: -60px 0 0;
    padding: 0;
    width: 100%;
    height: 800px;
    background: url(../../../../default/images/quem-somos/fundo-linhas-staff.png) no-repeat 50px 0
}
#rvb-staff li {
    position: absolute
}
.flipper {
    position: relative;
    width: 241px;
    height: 241px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-color: #414042
}
.flipper div {
    position: absolute;
    top: 0;
    left: 0;
    width: 231px;
    height: 231px;
    border-radius: 50%;
    text-align: center;
    transition: .5s ease-in-out
}
.flipper .back {
    background: #414042;
    opacity: 0;
    transform: perspective(800px) rotateY(180deg);
    backface-visibility: hidden
}
.flipper .front {
    transform: perspective(800px) rotateY(0deg);
    backface-visibility: hidden
}
.flipper:hover .back {
    opacity: 1;
    transform: perspective(800px) rotateY(0)
}
.flipper:hover .front {
    transform: perspective(800px) rotateY(-179.9deg)
}
#staff-jana {
    top: 1260px;
    left: 287px
}
#staff-chloe {
    top: 1359px;
    left: 630px
}
#staff-chloe .flip-container .overview {
    font-size: 11px;
    line-height: 14px
}
#staff-miria {
    top: 1000px;
    left: 38px
}
#staff-rose {
    top: 1000px;
    right: 6px
}
#staff-gustavo {
    top: 915px;
    left: 330px
}
#staff-caio {
    top: 705px;
    right: 10px
}
#staff-diego {
    top: 359px;
    left: -6px
}
#staff-marcio {
    top: 288px;
    right: 66px
}
#staff-gabi {
    top: 250px;
    left: 244px
}
#staff-tony {
    top: -15px;
    left: 28px
}
#staff-lorem {
    top: 590px;
    left: 315px
}
#staff-ipsum {
    top: 730px;
    left: 20px
}
.flip-container .who {
    margin: 20px 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    font-family: Andes-Bold, Verdana, sans-serif
}
.flip-container .overview {
    font-size: 13px;
    line-height: 15px
}
#staff-caio .flip-container .overview,
#staff-marcio .flip-container .overview {
    font-size: 12px;
    line-height: 16px
}
#staff-caio .flip-container .who {
    margin: 25px 0 10px
}
#staff-marcio .flip-container .who {
    margin-top: 15px
}
#staff-chloe .flip-container .who,
#staff-marina .flip-container .who {
    margin-top: 40px
}
#staff-miria .flip-container .who {
    margin-top: 35px
}
#staff-gustavo .flip-container .who {
    margin: 10px 0 0
}
#staff-diego .flip-container .overview,
#staff-rose .flip-container .overview {
    font-size: 12px
}
#staff-gabi .flip-container .overview,
#staff-tony .flip-container .overview {
    font-size: 11px;
    line-height: 15px
}
#staff-gabi .flip-container .who,
#staff-tony .flip-container .who {
    margin: 10px 0 0
}
@media screen and (max-width: 979px) {
    .rvb-fundoverde {
        padding: 25px 40px;
        min-height: 1970px;
        background: #5fbf98
    }
    #quemsomos-frase-bonitinha {
        width: 100%;
        margin-bottom: 33px
    }
    #quemsomos-enderecos {
        margin-left: 280px
    }
    #rvb-staff {
        height: 1902px;
        background: url(../../../../default/images/quem-somos/fundo-linhas-staff_m.png) no-repeat 0
    }
    #staff-jana {
        top: 1410px;
        left: 27px
    }
    #staff-chloe {
        top: 1659px;
        left: 260px
    }
    #staff-miria {
        top: 1070px;
        left: -32px
    }
    #staff-rose {
        top: 1390px;
        right: -34px
    }
    #staff-gustavo {
        top: 995px;
        left: 240px
    }
    #staff-caio {
        top: 835px;
        right: -30px
    }
    #staff-diego {
        top: 359px;
        left: -36px
    }
    #staff-marcio {
        top: 358px;
        right: -34px
    }
    #staff-gabi {
        top: 220px;
        left: 174px
    }
    #staff-tony {
        top: -15px;
        left: -12px
    }
    #staff-lorem {
        top: 640px;
        left: 235px
    }
    #staff-ipsum {
        top: 720px;
        left: -30px
    }
}
@media screen and (max-width: 767px) {
    #quemsomos-enderecos,
    #quemsomos-frase-bonitinha {
        display: none!important
    }
    .rvb-fundoverde {
        padding: 25px 40px;
        min-height: 0;
        height: auto
    }
    #rvb-staff {
        margin: 0;
        background: 0 0;
        height: auto
    }
    #rvb-staff li {
        position: static;
        display: block;
        width: 100%;
        float: left;
        height: auto
    }
    .flipper {
        position: relative;
        width: 100%;
        height: auto;
        border: 0;
        border-radius: 0;
        background-color: transparent
    }
    .flipper div {
        position: static;
        width: 241px;
        height: 241px;
        border-radius: 0;
        text-align: center;
        transform: none!important;
        display: block;
        margin: 0 auto
    }
    .flip-container .who {
        margin: 5px 0!important;
        font-size: 23px!important
    }
    .flip-container .overview {
        font-size: 16px!important;
        line-height: 16px
    }
    .flipper .back {
        background: 0 0;
        opacity: 1;
        width: 100%;
        height: auto;
        margin-bottom: 30px
    }
    .flipper .front {
        border-radius: 50%;
        border: 5px solid #fff
    }
}
@media screen and (max-width: 479px) {
    .rvb-fundoverde {
        padding: 25px 15px
    }
}